In [5]:
import os
import sys
import pandas as pd
import numpy as np

#path1='F:/trec-RTS/14417'

#path='C:/Users/lenovo/Google Drive/PHD share folder/paper/trec experiment/rishabh/9617/bm25/grid'
#path='C:/Users/lenovo/Google Drive/PHD share folder/paper/trec experiment/rishabh/6617/0.2/grid'
#path='C:/Users/lenovo/Google Drive/PHD share folder/paper/trec experiment/rishabh/9617/bm25/grid'
path='C:/Users/lenovo/Google Drive/PHD share folder/paper/trec experiment/rishabh/14617/3000/grid'

os.chdir(path)
#profile=['MB226','MB229','MB230']
#profile=['MB229']
profile=['MB226','MB229','MB230','MB239','MB254','MB256','MB258','MB265','MB267','MB276','MB286','MB319','MB320','MB332','MB351',
'MB358','MB361','MB362','MB363','MB365','MB371','MB377','MB381','MB382','MB391','MB392','MB409','MB410','MB414','MB419',  
'MB420','MB425','MB431','MB436','MB438','MB440','RTS1','RTS10','RTS13','RTS14','RTS19','RTS2','RTS21','RTS24','RTS25',
'RTS27','RTS28','RTS31','RTS32','RTS35','RTS36','RTS37','RTS4','RTS43','RTS5','RTS6']

In [6]:
grid = pd.read_csv('rdata_new.txt',sep=' ',header=None)
grid.columns=['profile','ndcg1','ndcg0','tmin','tmax','lamda']
#grid.columns=['profile','ndcg1','ndcg0','tmin','tmax']

grid.head()
sgrid=grid.sort_values(['profile','ndcg1','ndcg0'],ascending=[True,True,True])
sgrid=sgrid.reset_index(drop=True)
sgrid.head()
sgrid.to_csv("rdata_newcsv.csv",index=False)
#grid.info()

In [7]:
fgold0=open('gold0L-new.txt','w')
#fgoldboth=open('goldboth.txt','w')
for i,p in enumerate(profile):
    qn=sgrid[(sgrid['profile'] == p)]
    qn=qn.reset_index(drop=True)
    mn=0
    mni=0
    cndcg1=0
    mndcg1=0
    for i, row in qn.iterrows():
        s = row['ndcg0']
        cndcg1=row['ndcg1']
        if(s>mn):
            mn=s
            mni = i
            mndcg1=cndcg1
        if (s==mn):
            if(cndcg1>mndcg1):
                mni=i
            
            
            
    # print mni
    
    temp1=qn.ix[mni,'ndcg1']
    #ndcg1_dt[p]= {p1:temp}
    temp2= qn.ix[mni,'ndcg0']
    temp3= qn.ix[mni,'tmin']
    temp4= qn.ix[mni,'tmax']
    
    #LM
    
    temp5= qn.ix[mni,'lamda']
    tempstr = p + ' ' + str(temp1)+' ' + str(temp2)+' '+ str(temp3)+' ' + str(temp4)+' ' + str(temp5)+'\n'

    
    #tempstr = p + ' ' + str(temp1)+' ' + str(temp2)+' '+ str(temp3)+' ' + str(temp4)+'\n'

    fgold0.write(tempstr)    
    
   

fgold0.close()

In [8]:
#fgold=open('goldbotj.txt','w')
fgoldboth=open('goldbothL.txt','w')
for i,p in enumerate(profile):
    qn=sgrid[(sgrid['profile'] == p)]
    qn=qn.reset_index(drop=True)
    mnb=0
    for i, row in qn.iterrows():
        s = row['ndcg0']+row['ndcg1']
        if(s>mn):
            mnb=s
            mnib = i
    # print mni
    
    temp1=qn.ix[mnib,'ndcg1']
    #ndcg1_dt[p]= {p1:temp}
    temp2= qn.ix[mnib,'ndcg0']
    temp3= qn.ix[mnib,'tmin']
    temp4= qn.ix[mnib,'tmax']
    #LM JM
    temp5= qn.ix[mnib,'lamda']
    tempstr = p + ' ' + str(temp1)+' ' + str(temp2)+' '+ str(temp3)+' ' + str(temp4)+' ' + str(temp5)+'\n'
    
    #tempstr = p + ' ' + str(temp1)+' ' + str(temp2)+' '+ str(temp3)+' ' + str(temp4)+'\n'
    fgoldboth.write(tempstr)    
fgoldboth.close()

In [ ]:
def paramboth(df,topic) :
    maxnboth=0
    for i, row in df.iterrows():
        s1 = row['ndcg0']
        s2 = row['ndcg1']
        s=s1+s2
        if(s>maxboth):
            maxnboth=s
            maxb = i
    return maxb

In [5]:
qn.head()

   runtag profile  ndcg1  ndcg0  tmin  tmax  lamda
0  IR-RIS   MB230    0.9    0.0    16    20    0.1
1  IR-RIS   MB230    0.9    0.0    17    20    0.1
2  IR-RIS   MB230    0.9    0.0    18    20    0.1
3  IR-RIS   MB230    0.9    0.0    19    20    0.1
4  IR-RIS   MB230    0.9    0.0    20    20    0.1

In [14]:
qn[['ndcg1']]

     ndcg1
0   0.0298
1   0.0298
2   0.0298
3   0.0298
4   0.0298
5   0.0298
6   0.0458
7   0.0458
8   0.0650
9   0.0650
10  0.1132

In [14]:
fgoldboth.close()

In [18]:
tempstr

'RTS6 0.4785 0.4785 3.0 6.0 500.0\n'