In [2]:
import os
import sys
import pandas as pd
import numpy as np
#path='F:/TREC2015/Analysis/August-2017-result/bm25-result/g'
#path = 'F:/TREC2015\Analysis\August-2017-result\jm result\jm/g'
#path = 'F:/TREC2015\Analysis\Nov-2017-result\jm result/jm2015/g'
path = 'F:/TREC2015\Analysis\August-2017-result\diri/g'

#profile=['MB226','MB229','MB230','MB239','MB254','MB256','MB258','MB265','MB267','MB276','MB286','MB319','MB320','MB332','MB351',
#'MB358','MB361','MB362','MB363','MB365','MB371','MB377','MB381','MB382','MB391','MB392','MB409','MB410','MB414','MB419',  
#'MB420','MB425','MB431','MB436','MB438','MB440']
#prof=[226,227,228,236,242,243,246,248,249,253,254,255,260,262,265,267,278,284,287,298,305,324,326,331,339,344,348,353,354,357,
 #     359,362,366,371,377,379,383,384,389,391,392,401,400,405,409,416,419,432,434,439,448]
#profile=['MB226','MB254','MB265','MB267','MB362','MB371','MB377','MB391','MB392','MB409','MB419']

In [2]:
ip=[]
with open('tweet_id-final18.txt','r') as fin:
    line= fin.readlines()
    for l in line:
        l=l.strip().split(' ')
        #tpn=l[0]
        tpid=l[1]
        ip.append(tpid)      
print len(ip)
os.chdir(path)

51

In [6]:
os.chdir(path)

ip=['MB226','MB254','MB265','MB267','MB362','MB371','MB377','MB391','MB392','MB409','MB419']
os.getcwd()

'F:\\TREC2015\\Analysis\\August-2017-result\\diri\\g'

In [7]:
grid = pd.read_csv('rdata_new.txt',sep=' ',header=None)
grid.columns=['profile','ndcg1','tmin','tmax']
#grid.columns=['profile','ndcg1','ndcg0','tmin','tmax']

grid.head()
sgrid=grid.sort_values(['profile','ndcg1'],ascending=[True,True])
sgrid=sgrid.reset_index(drop=True)
sgrid.head()

#sgrid.to_csv("rdata_new.csv",index=False)

   profile  ndcg1  tmin  tmax
0      226    0.2     3     7
1      226    0.2     4     7
2      226    0.2     5     7
3      226    0.2     6     7
4      226    0.2     7     7

In [8]:
fgold1=open('gold1L-neww.txt','w')
#fgoldboth=open('goldboth.txt','w')
for i,p in enumerate(ip):
    pp=int(p[2:])
    qn=sgrid[(sgrid['profile'] == pp)]
    if not qn.empty :
        qn=qn.reset_index(drop=True)
        maxn1=0
        maxi=0
        for j,row in qn.iterrows():
            s = row['ndcg1']
            if(s>maxn1):
                maxn1=s
                maxi=j


        temp1=qn.ix[maxi,'ndcg1']
        #ndcg1_dt[p]= {p1:temp}
        #temp2= qn.ix[indx,'ndcg0']
        temp3= qn.ix[maxi,'tmin']
        temp4= qn.ix[maxi,'tmax']
    else:
        temp1 = 0
        temp3=50
        temp4=50
    

    #temp5= qn.ix[indx,'lamda']
    tempstr = p + ' ' + str(temp1)+' '+' '+ str(temp3)+' ' + str(temp4)+'\n'
    
    #tempstr = p + ' ' + str(temp1)+' ' + str(temp2)+' '+ str(temp3)+' ' + str(temp4)+'\n'
    
    fgold1.write(tempstr)  
fgold1.close()

In [21]:
not qn.empty

False

In [13]:
qn=sgrid[(sgrid['profile'] == pp)]
qn.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 58 entries, 0 to 57
Data columns (total 4 columns):
profile    58 non-null int64
ndcg1      58 non-null float64
tmin       58 non-null float64
tmax       58 non-null float64
dtypes: float64(3), int64(1)
memory usage: 2.3 KB

In [18]:
pp

229

In [19]:
qn.head()

Empty DataFrame
Columns: [profile, ndcg1, tmin, tmax]
Index: []

In [25]:
qn=sgrid[(sgrid['profile'] == pp)]

In [23]:
prof_new=[226,227,228,236,242,243,246,248,249,253,254,255,260,262,265,267,278,284,287,298,305,324,326,331,339,344,348,353,354,357,
      359,362,366,371,377,379,383,384,389,391,392,401,400,405,409,416,419,432,434,439,448]