In [1]:
import os
import pandas as pd
ipath='F:/TREC-RTS2016/25617/'
jpath='F:/TREC-RTS2016/25617/0.1JM_rank/'
dpath='F:/TREC-RTS2016/25617/1000Dirichlet/'
bpath='F:/TREC-RTS2016/25617/bm25_list/'

In [2]:
ip=['MB226','MB229','MB230','MB239','MB254','MB256','MB258','MB265','MB267','MB276','MB286','MB319','MB320','MB332','MB351','MB358','MB361','MB362','MB363','MB365','MB371','MB377','MB381','MB382','MB391','MB392','MB409','MB410','MB414','MB419','MB420','MB425','MB431','MB436','MB438','MB440','RTS1','RTS10','RTS13','RTS14','RTS19','RTS2','RTS21','RTS24','RTS25','RTS27','RTS28','RTS31','RTS32','RTS35','RTS36','RTS37','RTS4','RTS43','RTS5','RTS6']

In [3]:
import pandas as pd
import os
import numpy as np
from sklearn.preprocessing import StandardScaler

X_trainall=pd.read_csv('C:/Users\lenovo\AnacondaProjects\learning-to-rank-master\experiments/sample.txt',sep=','
                    ,header=None,names=['profile','tweet_id','JM','Diri','BM25','Class'])
scaler = StandardScaler()
X_trainall['JM'] = scaler.fit_transform(X_trainall[['JM']])
X_trainall['Diri'] = scaler.fit_transform(X_trainall[['Diri']])
X_trainall['BM25'] = scaler.fit_transform(X_trainall[['BM25']])       
X_trainall.head()

X_trainall['Class']=np.where(X_trainall['Class'] ==2,1, X_trainall['Class'])
X_trainall.head()

  profile            tweet_id        JM      Diri      BM25  Class
0   MB226  760276886505213952  1.362799  1.849035  1.928996      0
1   MB226  760539173120012288  1.210028  1.844419  1.224847      0
2   MB226  760553618311352320  0.853564  1.313519  0.499782      0
3   MB226  760318766651629568  0.161004 -0.505391 -0.236902      0
4   MB226  760595464861331457  0.016721  0.948813  0.918089      0

In [4]:
print(X_trainall['Class'].value_counts())
X_train0=X_trainall[X_trainall['Class']==0]
X_train1=X_trainall[X_trainall['Class']> 0]
X_train0.info()
X_train1.info()
X_train0=X_train0.sample(3029)
X_train0.info()
X_trainws=pd.concat([X_train0,X_train1])
X_train = X_trainws.reindex(np.random.permutation(X_trainws.index))

0    34799
1     3029
Name: Class, dtype: int64
<class 'pandas.core.frame.DataFrame'>
Int64Index: 34799 entries, 0 to 37827
Data columns (total 6 columns):
profile     34799 non-null object
tweet_id    34799 non-null int64
JM          34799 non-null float64
Diri        34799 non-null float64
BM25        34799 non-null float64
Class       34799 non-null int64
dtypes: float64(3), int64(2), object(1)
memory usage: 1.9+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 3029 entries, 156 to 37705
Data columns (total 6 columns):
profile     3029 non-null object
tweet_id    3029 non-null int64
JM          3029 non-null float64
Diri        3029 non-null float64
BM25        3029 non-null float64
Class       3029 non-null int64
dtypes: float64(3), int64(2), object(1)
memory usage: 165.6+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 3029 entries, 6362 to 4501
Data columns (total 6 columns):
profile     3029 non-null object
tweet_id    3029 non-null int64
JM          3029 non-null float64
Diri        3029 non-null float64
BM25        3029 non-null float64
Class       3029 non-null int64
dtypes: float64(3), int64(2), object(1)
memory usage: 165.6+ KB

In [5]:
X_test=pd.read_csv('C:/Users\lenovo\AnacondaProjects\learning-to-rank-master\experiments/gtest.txt',sep=','
                    ,header=None,names=['profile','tweet_id','JM','Diri','BM25','Class'])
X_test.head()

scaler = StandardScaler()
X_test['JM'] = scaler.fit_transform(X_test[['JM']])
X_test['Diri'] = scaler.fit_transform(X_test[['Diri']])
X_test['BM25'] = scaler.fit_transform(X_test[['BM25']])       


#X_trainall['Class']=np.where(X_trainall['Class'] ==2,1, X_trainall['Class'])
X_test['Class']=np.where(X_test['Class'] ==-2,0, X_test['Class'])
X_test['Class']=np.where(X_test['Class'] ==2,1, X_test['Class'])
ip2017=[]
with open('F:/TREC2017/Analysis/tid95-2.txt','r') as fin:
    line= fin.readlines()
    for l in line:
        l=l.strip().split(' ')
        #tpn=l[0]
        tpid=l[1]
        ip2017.append(tpid)      
#print len(ip2017)
#ip2017.remove('RTS63')
#ip2017.remove('RTS164')
#ip2017.remove('RTS182')
X_test.head()

  profile            tweet_id        JM      Diri      BM25  Class
0   RTS47  891302728198230020  3.050570  2.407051  3.571360      1
1   RTS47  891348035069935616  2.778155  1.815867  2.271354      1
2   RTS47  891359347099320320  2.778155  1.815867  2.271354      1
3   RTS47  891391584524279809  2.778155  1.815867  2.271354      1
4   RTS47  891299170077769728  2.621369  1.806629  1.665027      1

In [6]:
run_df=pd.read_csv('D:/datas/2017output/result/est-res2017/diri_linreg_est_20170.1 23.0_6.0.txt',sep=' '
                    ,header=None,names=['date','profile','q0','tweet_id','rank','score','tag'])
run_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13018 entries, 0 to 13017
Data columns (total 7 columns):
date        13018 non-null int64
profile     13018 non-null object
q0          13018 non-null object
tweet_id    13018 non-null int64
rank        13018 non-null int64
score       13018 non-null float64
tag         13018 non-null object
dtypes: float64(1), int64(3), object(3)
memory usage: 712.0+ KB

In [7]:
test_df = pd.read_csv('C:/Users\lenovo\AnacondaProjects\learning-to-rank-master\experiments/runfile/temp.txt',sep=','
                    ,header=None,names=['date','profile','tweet_id','rank','score','JM','Diri','BM25','prediction','Class'])
scaler = StandardScaler()
test_df['JM'] = scaler.fit_transform(test_df[['JM']])
test_df['Diri'] = scaler.fit_transform(test_df[['Diri']])
test_df['BM25'] = scaler.fit_transform(test_df[['BM25']])       

test_df['Class']=np.where(test_df['Class'] ==-1,0, test_df['Class'])
test_df['Class']=np.where(test_df['Class'] ==2,1, test_df['Class'])
print (test_df['Class'].value_counts())
test_df.info()
test_df.head()

0    12066
1      952
Name: Class, dtype: int64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13018 entries, 0 to 13017
Data columns (total 10 columns):
date          13018 non-null int64
profile       13018 non-null object
tweet_id      13018 non-null int64
rank          13018 non-null int64
score         13018 non-null float64
JM            13018 non-null float64
Diri          13018 non-null float64
BM25          13018 non-null float64
prediction    13018 non-null float64
Class         13018 non-null int64
dtypes: float64(5), int64(4), object(1)
memory usage: 1017.1+ KB

,date,profile,tweet_id,rank,score,JM,Diri,BM25,prediction,Class
0,20170804,RTS47,893532395030196224,1,1.00,1.941409,0.925523,2.237589,0.922,1
1,20170804,RTS47,893319966132514816,2,1.00,1.692350,0.915749,1.268197,0.910,1
2,20170804,RTS47,893268233578532864,3,0.80,1.216536,0.133855,0.360471,0.505,1
3,20170804,RTS47,893573742487629824,4,0.75,0.339254,-0.032298,1.497595,-0.017,1
4,20170804,RTS47,893484068276506624,5,0.70,0.090195,-0.242432,-0.167391,-0.040,0

In [8]:
#X_train1=X_train[['JM','Diri','BM25','Class']]
#print(X_train1.groupby('Class').mean())
#y_train=X_train['Class']
#xx_train=X_train1[['JM','Diri','BM25']]
X_train1=X_train[['JM','Diri','BM25']]
y_train = X_train['Class']

X_test1=test_df[['JM','Diri','BM25']]
#print(X_test1.groupby('Class').mean())
#xx_test=X_test1[['JM','Diri','BM25']]
y_test=test_df[['Class']]
X_train1.info()
X_test1.info()
print(X_train['Class'].value_counts())
print(y_test['Class'].value_counts())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6058 entries, 8789 to 23052
Data columns (total 3 columns):
JM      6058 non-null float64
Diri    6058 non-null float64
BM25    6058 non-null float64
dtypes: float64(3)
memory usage: 189.3 KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13018 entries, 0 to 13017
Data columns (total 3 columns):
JM      13018 non-null float64
Diri    13018 non-null float64
BM25    13018 non-null float64
dtypes: float64(3)
memory usage: 305.2 KB
1    3029
0    3029
Name: Class, dtype: int64
0    12066
1      952
Name: Class, dtype: int64

In [12]:
from sklearn.linear_model import LogisticRegression
logreg = LogisticRegression()
# train the model using X_train_dtm
%time logreg.fit(X_train1, y_train)

Wall time: 23 ms

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [13]:
pred_class = logreg.predict(X_test1)
 #calculate accuracy of class predictions
from sklearn import metrics
metrics.accuracy_score(y_test, pred_class)

0.7648640344138885

In [14]:
# print the confusion matrix
metrics.confusion_matrix(y_test, pred_class)

array([[9358, 2708],
       [ 353,  599]])

In [15]:
test_df['pred_class']= pred_class
print (test_df['pred_class'].value_counts())
print (y_test['Class'].value_counts())

0    9711
1    3307
Name: pred_class, dtype: int64
0    12066
1      952
Name: Class, dtype: int64

In [16]:
print (metrics.precision_score(y_test, pred_class))
print(metrics.recall_score(y_test, pred_class))
print (metrics.f1_score(y_test, pred_class))
print(metrics.classification_report(y_test, pred_class,target_names=['NR','R']))
#y_pred_prob = nb.predict_proba(X_test_dtm)[:, 1]
#y_pred_prob
print(metrics.roc_auc_score(y_test, pred_class))

0.181130934382
0.629201680672
0.281286687016
             precision    recall  f1-score   support

         NR       0.96      0.78      0.86     12066
          R       0.18      0.63      0.28       952

avg / total       0.91      0.76      0.82     13018

0.702384695798

In [17]:
test_df.head()
test_df['Q0']='Q0'
test_df['tag']='IRLAB-LDRP'
log_df = test_df[test_df['pred_class']==1]
log_df=log_df[['date','profile','Q0','tweet_id','rank','score','tag']]
#log_df.to_csv('D:/datas/2017output/result/lr-res/logpoinwise.txt',encoding='UTF-8',index=False,sep=' ',header=None)
log_df.head()

        date profile  Q0            tweet_id  rank  score         tag
0   20170804   RTS47  Q0  893532395030196224     1    1.0  IRLAB-LDRP
1   20170804   RTS47  Q0  893319966132514816     2    1.0  IRLAB-LDRP
2   20170804   RTS47  Q0  893268233578532864     3    0.8  IRLAB-LDRP
19  20170805   RTS47  Q0  893719771375583232     1    1.0  IRLAB-LDRP
20  20170805   RTS47  Q0  893973753255907329     2    1.0  IRLAB-LDRP

In [18]:
import pandas as pd
import os
import numpy as np
from sklearn.preprocessing import StandardScaler

X_trainall=pd.read_csv('C:/Users\lenovo\AnacondaProjects\learning-to-rank-master\experiments/sample.txt',sep=','
                    ,header=None,names=['profile','tweet_id','JM','Diri','BM25','Class'])
#scaler = StandardScaler()
#X_trainall['JM'] = scaler.fit_transform(X_trainall[['JM']])
#X_trainall['Diri'] = scaler.fit_transform(X_trainall[['Diri']])
#X_trainall['BM25'] = scaler.fit_transform(X_trainall[['BM25']])       
X_trainall.head()

X_trainall['Class']=np.where(X_trainall['Class'] ==2,1, X_trainall['Class'])
X_trainall.head()
print(X_trainall['Class'].value_counts())
X_train0=X_trainall[X_trainall['Class']==0]
X_train1=X_trainall[X_trainall['Class']> 0]
X_train0.info()
X_train1.info()
X_train0=X_train0.sample(3029)
X_train0.info()
X_trainws=pd.concat([X_train0,X_train1])
X_train = X_trainws.reindex(np.random.permutation(X_trainws.index))



test_df = pd.read_csv('C:/Users\lenovo\AnacondaProjects\learning-to-rank-master\experiments/runfile/temp.txt',sep=','
                    ,header=None,names=['date','profile','tweet_id','rank','score','JM','Diri','BM25','prediction','Class'])
#scaler = StandardScaler()
#test_df['JM'] = scaler.fit_transform(test_df[['JM']])
#test_df['Diri'] = scaler.fit_transform(test_df[['Diri']])
#test_df['BM25'] = scaler.fit_transform(test_df[['BM25']])       

test_df['Class']=np.where(test_df['Class'] ==-1,0, test_df['Class'])
test_df['Class']=np.where(test_df['Class'] ==2,1, test_df['Class'])
print (test_df['Class'].value_counts())
test_df.info()
test_df.head()
#X_train1=X_train[['JM','Diri','BM25','Class']]
#print(X_train1.groupby('Class').mean())
#y_train=X_train['Class']
#xx_train=X_train1[['JM','Diri','BM25']]
X_train1=X_train[['JM','Diri','BM25']]
y_train = X_train['Class']

X_test1=test_df[['JM','Diri','BM25']]
#print(X_test1.groupby('Class').mean())
#xx_test=X_test1[['JM','Diri','BM25']]
y_test=test_df[['Class']]
X_train1.info()
X_test1.info()
print(X_train['Class'].value_counts())
print(y_test['Class'].value_counts())

0    34799
1     3029
Name: Class, dtype: int64
<class 'pandas.core.frame.DataFrame'>
Int64Index: 34799 entries, 0 to 37827
Data columns (total 6 columns):
profile     34799 non-null object
tweet_id    34799 non-null int64
JM          34799 non-null float64
Diri        34799 non-null float64
BM25        34799 non-null float64
Class       34799 non-null int64
dtypes: float64(3), int64(2), object(1)
memory usage: 1.9+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 3029 entries, 156 to 37705
Data columns (total 6 columns):
profile     3029 non-null object
tweet_id    3029 non-null int64
JM          3029 non-null float64
Diri        3029 non-null float64
BM25        3029 non-null float64
Class       3029 non-null int64
dtypes: float64(3), int64(2), object(1)
memory usage: 165.6+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 3029 entries, 4406 to 36063
Data columns (total 6 columns):
profile     3029 non-null object
tweet_id    3029 non-null int64
JM          3029 non-null float64
Diri        3029 non-null float64
BM25        3029 non-null float64
Class       3029 non-null int64
dtypes: float64(3), int64(2), object(1)
memory usage: 165.6+ KB
0    12066
1      952
Name: Class, dtype: int64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13018 entries, 0 to 13017
Data columns (total 10 columns):
date          13018 non-null int64
profile       13018 non-null object
tweet_id      13018 non-null int64
rank          13018 non-null int64
score         13018 non-null float64
JM            13018 non-null float64
Diri          13018 non-null float64
BM25          13018 non-null float64
prediction    13018 non-null float64
Class         13018 non-null int64
dtypes: float64(5), int64(4), object(1)
memory usage: 1017.1+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 6058 entries, 32981 to 4513
Data columns (total 3 columns):
JM      6058 non-null float64
Diri    6058 non-null float64
BM25    6058 non-null float64
dtypes: float64(3)
memory usage: 189.3 KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13018 entries, 0 to 13017
Data columns (total 3 columns):
JM      13018 non-null float64
Diri    13018 non-null float64
BM25    13018 non-null float64
dtypes: float64(3)
memory usage: 305.2 KB
1    3029
0    3029
Name: Class, dtype: int64
0    12066
1      952
Name: Class, dtype: int64

In [20]:
X_test1.head()

      JM  Diri   BM25
0  28.10  7.97  22.15
1  26.76  7.95  18.22
2  24.20  6.35  14.54
3  19.48  6.01  19.15
4  18.14  5.58  12.40

In [21]:
# import and instantiate a Multinomial Naive Bayes model
from sklearn.naive_bayes import MultinomialNB
nb = MultinomialNB()
# train the model using X_train_dtm (timing it with an IPython "magic command")
%time nb.fit(X_train1, y_train)

Wall time: 91 ms

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [25]:
pred_class = nb.predict(X_test1)
 #calculate accuracy of class predictions
from sklearn import metrics
print(metrics.accuracy_score(y_test, pred_class))
# print the confusion matrix
print(metrics.confusion_matrix(y_test, pred_class))
test_df['pred_class']= pred_class
print (metrics.precision_score(y_test, pred_class))
print(metrics.recall_score(y_test, pred_class))
print (metrics.f1_score(y_test, pred_class))
print(metrics.classification_report(y_test, pred_class,target_names=['NR','R']))
#y_pred_prob = nb.predict_proba(X_test_dtm)[:, 1]
#y_pred_prob
print(metrics.roc_auc_score(y_test, pred_class))
#test_df.head()
test_df['Q0']='Q0'
test_df['tag']='IRLAB-LDRP'
log_df = test_df[test_df['pred_class']==1]
log_df=log_df[['date','profile','Q0','tweet_id','rank','score','tag']]
log_df.to_csv('D:/datas/2017output/result/lr-res/NBpoinwise.txt',encoding='UTF-8',index=False,sep=' ',header=None)
log_df.head()

0.366722998925
[[4026 8040]
 [ 204  748]]
0.0851160673646
0.785714285714
0.153593429158
             precision    recall  f1-score   support

         NR       0.95      0.33      0.49     12066
          R       0.09      0.79      0.15       952

avg / total       0.89      0.37      0.47     13018

0.559689564538

        date profile  Q0            tweet_id  rank  score         tag
1   20170804   RTS47  Q0  893319966132514816     2   1.00  IRLAB-LDRP
4   20170804   RTS47  Q0  893484068276506624     5   0.70  IRLAB-LDRP
5   20170804   RTS47  Q0  893599965255258112     6   0.70  IRLAB-LDRP
13  20170804   RTS47  Q0  893319096560893952    14   0.59  IRLAB-LDRP
14  20170804   RTS47  Q0  893289817471057920    15   0.59  IRLAB-LDRP

In [26]:
import pandas as pd
import os
import numpy as np
from sklearn.preprocessing import StandardScaler

X_trainall=pd.read_csv('C:/Users\lenovo\AnacondaProjects\learning-to-rank-master\experiments/sample.txt',sep=','
                    ,header=None,names=['profile','tweet_id','JM','Diri','BM25','Class'])
#scaler = StandardScaler()
#X_trainall['JM'] = scaler.fit_transform(X_trainall[['JM']])
#X_trainall['Diri'] = scaler.fit_transform(X_trainall[['Diri']])
#X_trainall['BM25'] = scaler.fit_transform(X_trainall[['BM25']])       
#X_trainall.head()

X_trainall['Class']=np.where(X_trainall['Class'] ==2,1, X_trainall['Class'])
#X_trainall.head()
#print(X_trainall['Class'].value_counts())
X_train0=X_trainall[X_trainall['Class']==0]
X_train1=X_trainall[X_trainall['Class']> 0]
#X_train0.info()
#X_train1.info()
X_train0=X_train0.sample(3029)
#X_train0.info()
X_trainws=pd.concat([X_train0,X_train1])
X_train = X_trainws.reindex(np.random.permutation(X_trainws.index))



test_df = pd.read_csv('C:/Users\lenovo\AnacondaProjects\learning-to-rank-master\experiments/runfile/temp.txt',sep=','
                    ,header=None,names=['date','profile','tweet_id','rank','score','JM','Diri','BM25','prediction','Class'])
#scaler = StandardScaler()
#test_df['JM'] = scaler.fit_transform(test_df[['JM']])
#test_df['Diri'] = scaler.fit_transform(test_df[['Diri']])
#test_df['BM25'] = scaler.fit_transform(test_df[['BM25']])       

test_df['Class']=np.where(test_df['Class'] ==-1,0, test_df['Class'])
test_df['Class']=np.where(test_df['Class'] ==2,1, test_df['Class'])
#print (test_df['Class'].value_counts())
#test_df.info()
#test_df.head()
#X_train1=X_train[['JM','Diri','BM25','Class']]
#print(X_train1.groupby('Class').mean())
#y_train=X_train['Class']
#xx_train=X_train1[['JM','Diri','BM25']]
X_train1=X_train[['JM','Diri','BM25']]
y_train = X_train['Class']

X_test1=test_df[['JM','Diri','BM25']]
#print(X_test1.groupby('Class').mean())
#xx_test=X_test1[['JM','Diri','BM25']]
y_test=test_df[['Class']]
#X_train1.info()
#X_test1.info()
#print(X_train['Class'].value_counts())
#print(y_test['Class'].value_counts())

In [28]:
from sklearn import svm
clf = svm.SVC()
%time clf.fit(X_train1, y_train)

Wall time: 6.32 s

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape=None, degree=3, gamma='auto', kernel='rbf',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [29]:
pred_class = nb.predict(X_test1)
 #calculate accuracy of class predictions
from sklearn import metrics
print(metrics.accuracy_score(y_test, pred_class))
# print the confusion matrix
print(metrics.confusion_matrix(y_test, pred_class))
test_df['pred_class']= pred_class
print (metrics.precision_score(y_test, pred_class))
print(metrics.recall_score(y_test, pred_class))
print (metrics.f1_score(y_test, pred_class))
print(metrics.classification_report(y_test, pred_class,target_names=['NR','R']))
#y_pred_prob = nb.predict_proba(X_test_dtm)[:, 1]
#y_pred_prob
print(metrics.roc_auc_score(y_test, pred_class))
#test_df.head()
test_df['Q0']='Q0'
test_df['tag']='IRLAB-LDRP'
log_df = test_df[test_df['pred_class']==1]
log_df=log_df[['date','profile','Q0','tweet_id','rank','score','tag']]
log_df.to_csv('D:/datas/2017output/result/lr-res/SVMpoinwise.txt',encoding='UTF-8',index=False,sep=' ',header=None)
log_df.head()

0.366722998925
[[4026 8040]
 [ 204  748]]
0.0851160673646
0.785714285714
0.153593429158
             precision    recall  f1-score   support

         NR       0.95      0.33      0.49     12066
          R       0.09      0.79      0.15       952

avg / total       0.89      0.37      0.47     13018

0.559689564538

        date profile  Q0            tweet_id  rank  score         tag
1   20170804   RTS47  Q0  893319966132514816     2   1.00  IRLAB-LDRP
4   20170804   RTS47  Q0  893484068276506624     5   0.70  IRLAB-LDRP
5   20170804   RTS47  Q0  893599965255258112     6   0.70  IRLAB-LDRP
13  20170804   RTS47  Q0  893319096560893952    14   0.59  IRLAB-LDRP
14  20170804   RTS47  Q0  893289817471057920    15   0.59  IRLAB-LDRP

In [11]:
# import the class
from sklearn.neighbors import KNeighborsClassifier

# instantiate the model (with the default parameters)
knn = KNeighborsClassifier()

# fit the model with data (occurs in-place)
%time knn.fit(X_train1, y_train)

Wall time: 20 ms

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=5, p=2,
           weights='uniform')

In [12]:
pred_class = knn.predict(X_test1)
 #calculate accuracy of class predictions
from sklearn import metrics
metrics.accuracy_score(y_test, pred_class)

0.66615455523121836

In [14]:
print (metrics.precision_score(y_test, pred_class))
print(metrics.recall_score(y_test, pred_class))
print (metrics.f1_score(y_test, pred_class))
print(metrics.classification_report(y_test, pred_class,target_names=['NR','R']))
#y_pred_prob = nb.predict_proba(X_test_dtm)[:, 1]
#y_pred_prob
print(metrics.roc_auc_score(y_test, pred_class))
metrics.confusion_matrix(y_test, pred_class)

0.122888888889
0.580882352941
0.20286133529
             precision    recall  f1-score   support

         NR       0.95      0.67      0.79     12066
          R       0.12      0.58      0.20       952

avg / total       0.89      0.67      0.75     13018

0.626882416318

array([[8119, 3947],
       [ 399,  553]])

In [16]:
test_df.head()

,date,profile,tweet_id,rank,score,JM,Diri,BM25,prediction,Class,Q0,tag
0,20170804,RTS47,893532395030196224,1,1.00,1.941409,0.925523,2.237589,0.922,1,Q0,IRLAB-LDRP
1,20170804,RTS47,893319966132514816,2,1.00,1.692350,0.915749,1.268197,0.910,1,Q0,IRLAB-LDRP
2,20170804,RTS47,893268233578532864,3,0.80,1.216536,0.133855,0.360471,0.505,1,Q0,IRLAB-LDRP
3,20170804,RTS47,893573742487629824,4,0.75,0.339254,-0.032298,1.497595,-0.017,1,Q0,IRLAB-LDRP
4,20170804,RTS47,893484068276506624,5,0.70,0.090195,-0.242432,-0.167391,-0.040,0,Q0,IRLAB-LDRP

In [15]:
test_df.head()
test_df['Q0']='Q0'
test_df['tag']='IRLAB-LDRP'
log_df = test_df[test_df['pred_class']==1]
log_df=log_df[['date','profile','Q0','tweet_id','rank','score','tag']]
log_df.to_csv('D:/datas/2017output/result/lr-res/knnpointwise.txt',encoding='UTF-8',index=False,sep=' ',header=None)
log_df.head()

KeyError: 'pred_class'

In [31]:
len(ip2017)

95

In [22]:
import pandas as pd
import os
import numpy as np
from sklearn.preprocessing import StandardScaler

X_trainall=pd.read_csv('C:/Users\lenovo\AnacondaProjects\learning-to-rank-master\experiments/sample.txt',sep=','
                    ,header=None,names=['profile','tweet_id','JM','Diri','BM25','Class'])
scaler = StandardScaler()
X_trainall['JM'] = scaler.fit_transform(X_trainall[['JM']])
X_trainall['Diri'] = scaler.fit_transform(X_trainall[['Diri']])
X_trainall['BM25'] = scaler.fit_transform(X_trainall[['BM25']])       
X_trainall.head()

X_trainall['Class']=np.where(X_trainall['Class'] ==2,1, X_trainall['Class'])
X_trainall.head()


print(X_trainall['Class'].value_counts())
X_train0=X_trainall[X_trainall['Class']==0]
X_train1=X_trainall[X_trainall['Class']> 0]
X_train0.info()
X_train1.info()
X_train0=X_train0.sample(3029)
X_train0.info()
X_trainws=pd.concat([X_train0,X_train1])
X_train = X_trainws.reindex(np.random.permutation(X_trainws.index))

test_df = pd.read_csv('C:/Users\lenovo\AnacondaProjects\learning-to-rank-master\experiments/runfile/temp.txt',sep=','
                    ,header=None,names=['date','profile','tweet_id','rank','score','JM','Diri','BM25','prediction','Class'])
scaler = StandardScaler()
test_df['JM'] = scaler.fit_transform(test_df[['JM']])
test_df['Diri'] = scaler.fit_transform(test_df[['Diri']])
test_df['BM25'] = scaler.fit_transform(test_df[['BM25']])       

test_df['Class']=np.where(test_df['Class'] ==-1,0, test_df['Class'])
test_df['Class']=np.where(test_df['Class'] ==2,1, test_df['Class'])
print (test_df['Class'].value_counts())
test_df.info()
test_df.head()

#X_train1=X_train[['JM','Diri','BM25','Class']]
#print(X_train1.groupby('Class').mean())
#y_train=X_train['Class']
#xx_train=X_train1[['JM','Diri','BM25']]
X_train1=X_train[['JM','Diri','BM25']]
y_train = X_train['Class']

X_test1=test_df[['JM','Diri','BM25']]
#print(X_test1.groupby('Class').mean())
#xx_test=X_test1[['JM','Diri','BM25']]
y_test=test_df[['Class']]
X_train1.info()
X_test1.info()
print(X_train['Class'].value_counts())
print(y_test['Class'].value_counts())



from sklearn.ensemble import RandomForestClassifier
rclf = RandomForestClassifier(n_estimators=10)
% time rclf.fit(X_train1, y_train)

0    34799
1     3029
Name: Class, dtype: int64
<class 'pandas.core.frame.DataFrame'>
Int64Index: 34799 entries, 0 to 37827
Data columns (total 6 columns):
profile     34799 non-null object
tweet_id    34799 non-null int64
JM          34799 non-null float64
Diri        34799 non-null float64
BM25        34799 non-null float64
Class       34799 non-null int64
dtypes: float64(3), int64(2), object(1)
memory usage: 1.9+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 3029 entries, 156 to 37705
Data columns (total 6 columns):
profile     3029 non-null object
tweet_id    3029 non-null int64
JM          3029 non-null float64
Diri        3029 non-null float64
BM25        3029 non-null float64
Class       3029 non-null int64
dtypes: float64(3), int64(2), object(1)
memory usage: 165.6+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 3029 entries, 8354 to 25950
Data columns (total 6 columns):
profile     3029 non-null object
tweet_id    3029 non-null int64
JM          3029 non-null float64
Diri        3029 non-null float64
BM25        3029 non-null float64
Class       3029 non-null int64
dtypes: float64(3), int64(2), object(1)
memory usage: 165.6+ KB
0    12066
1      952
Name: Class, dtype: int64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13018 entries, 0 to 13017
Data columns (total 10 columns):
date          13018 non-null int64
profile       13018 non-null object
tweet_id      13018 non-null int64
rank          13018 non-null int64
score         13018 non-null float64
JM            13018 non-null float64
Diri          13018 non-null float64
BM25          13018 non-null float64
prediction    13018 non-null float64
Class         13018 non-null int64
dtypes: float64(5), int64(4), object(1)
memory usage: 1017.1+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 6058 entries, 32930 to 7786
Data columns (total 3 columns):
JM      6058 non-null float64
Diri    6058 non-null float64
BM25    6058 non-null float64
dtypes: float64(3)
memory usage: 189.3 KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13018 entries, 0 to 13017
Data columns (total 3 columns):
JM      13018 non-null float64
Diri    13018 non-null float64
BM25    13018 non-null float64
dtypes: float64(3)
memory usage: 305.2 KB
1    3029
0    3029
Name: Class, dtype: int64
0    12066
1      952
Name: Class, dtype: int64
Wall time: 230 ms

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_split=1e-07, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            n_estimators=10, n_jobs=1, oob_score=False, random_state=None,
            verbose=0, warm_start=False)

In [24]:
pred_class = rclf.predict(X_test1)
 #calculate accuracy of class predictions
from sklearn import metrics
metrics.accuracy_score(y_test, pred_class)
print (metrics.precision_score(y_test, pred_class))
print(metrics.recall_score(y_test, pred_class))
print (metrics.f1_score(y_test, pred_class))
print(metrics.classification_report(y_test, pred_class,target_names=['NR','R']))
#y_pred_prob = nb.predict_proba(X_test_dtm)[:, 1]
#y_pred_prob
print(metrics.roc_auc_score(y_test, pred_class))
metrics.confusion_matrix(y_test, pred_class)

0.113690194221
0.504201680672
0.185543100116
             precision    recall  f1-score   support

         NR       0.95      0.69      0.80     12066
          R       0.11      0.50      0.19       952

avg / total       0.89      0.68      0.75     13018

0.597037024656

array([[8324, 3742],
       [ 472,  480]])

In [26]:
test_df['pred_class']= pred_class
print (test_df['pred_class'].value_counts())
print (y_test['Class'].value_counts())
test_df.head()

0    8796
1    4222
Name: pred_class, dtype: int64
0    12066
1      952
Name: Class, dtype: int64

,date,profile,tweet_id,rank,score,JM,Diri,BM25,prediction,Class,pred_class
0,20170804,RTS47,893532395030196224,1,1.00,1.941409,0.925523,2.237589,0.922,1,1
1,20170804,RTS47,893319966132514816,2,1.00,1.692350,0.915749,1.268197,0.910,1,1
2,20170804,RTS47,893268233578532864,3,0.80,1.216536,0.133855,0.360471,0.505,1,1
3,20170804,RTS47,893573742487629824,4,0.75,0.339254,-0.032298,1.497595,-0.017,1,0
4,20170804,RTS47,893484068276506624,5,0.70,0.090195,-0.242432,-0.167391,-0.040,0,1

In [27]:
test_df.head()
test_df['Q0']='Q0'
test_df['tag']='IRLAB-LDRP'
log_df = test_df[test_df['pred_class']==1]
log_df=log_df[['date','profile','Q0','tweet_id','rank','score','tag']]
log_df.to_csv('D:/datas/2017output/result/lr-res/RFpoinwise.txt',encoding='UTF-8',index=False,sep=' ',header=None)
log_df.head()

       date profile  Q0            tweet_id  rank  score         tag
0  20170804   RTS47  Q0  893532395030196224     1   1.00  IRLAB-LDRP
1  20170804   RTS47  Q0  893319966132514816     2   1.00  IRLAB-LDRP
2  20170804   RTS47  Q0  893268233578532864     3   0.80  IRLAB-LDRP
4  20170804   RTS47  Q0  893484068276506624     5   0.70  IRLAB-LDRP
8  20170804   RTS47  Q0  893583511009071105     9   0.62  IRLAB-LDRP