In [11]:
import os
import sys
import pandas as pd
import numpy as np
import json
import json

qpath='F:/TREC2017/Analysis'
os.chdir(qpath)
os.getcwd()
#path1='F:/TREC2017/Analysis/Ranklist/jm/fin'
path1='F:/TREC2017/Analysis/Ranklist/jm112'
path1='F:/TREC2017/Analysis/Ranklist/diri'
#path1='F:/TREC2017/Analysis/Ranklist/bm25'

In [12]:
ip=[]
with open('tid95-2.txt','r') as fin:
    line= fin.readlines()
    for l in line:
        l=l.strip().split(' ')
        #tpn=l[0]
        tpid=l[1]
        ip.append(tpid)      
print len(ip)

95

In [13]:
import pandas as pd
import numpy as np


qrels = pd.read_csv('Qrel/rts2017-batch-qrels.txt', sep=' ',header=None)
#runfile = pd.read_csv('merge_B_Jelinek0.2_0.6_normal_0.4_21_15_final_luchen.txt', sep=' ')
epoch = pd.read_csv('Qrel/rts2017-batch-tweets2dayepoch.txt', sep=' ',header=None)
epoch.columns=['tweet_id','date','time']
qrels.columns=['profile','qo','tweet_id','relevance']
qrels.drop(qrels[[1]],axis=1,inplace=True)
cluster = pd.read_csv('Qrel/clusters.txt', sep=' ',header=None)
cluster.columns=['profile','cluster','tweet_id']

#print qrels.head() #print runfile.head() print cluster.head() print epoch.head()
#cluster.drop(cluster[[3]],axis=1,inplace=True)
#cluster.drop(cluster[[3]],axis=1,inplace=True)
#cluster.drop(cluster[[3]],axis=1,inplace=True)
#cluster.info()
#epoch.drop(epoch[[2]],axis=1,inplace=True)

epoch.info()
print "number of unique:",epoch['tweet_id'].nunique()
#print "number of unique:",epoch['tweet_id','date'].nunique()
#print "number of duplicated:",epoch[epoch.duplicated(['tweet_id','date'])].count()
#epoch=epoch.drop_duplicates(subset=['tweet_id','date'])
#fqrels = pd.read_csv('Qrel_formated.txt', sep=' ',header=None)
#fqrels.columns=['tweet_id','profile','text']
#fqrels=fqrels.drop_duplicates(subset=['tweet_id'])

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89281 entries, 0 to 89280
Data columns (total 3 columns):
tweet_id    89281 non-null int64
date        89281 non-null int64
time        89281 non-null int64
dtypes: int64(3)
memory usage: 2.0 MB
number of unique: 89281

In [14]:
os.chdir(path1)
#ip=['RTS47']
for i,p in enumerate(ip):
    qn=qrels[(qrels['relevance'] > 0) & (qrels['profile'] == p)]
    #qn.count()


    ij=qn.merge(epoch,how='inner',on=['tweet_id'])
    #ij.head()
    ijc= pd.merge(ij,cluster,how='inner',on=['tweet_id','profile'])
    ijc=ijc.sort_values(by=['date','time'],ascending=[True,True])
    
    os.chdir(path1)
#os.mkdir(p)
    path2=path1 +"/" + p
    os.chdir(path2)

    fn = p + '_qrel.txt'
    #ijc=ijc.sort_values(ijc.columns[3],ascending=[True])
    ijc.to_csv(fn,index=False,sep=' ',header=None)
    #textstring=  p +'text.txt'
    #tqrel.to_csv(textstring,index=False,sep= ' ')
    
    fnstr= p + '_qrel.txt'
    fnstr1 = p + '.txt'
    gq = pd.read_csv(fnstr, sep=' ')
    #gq.columns
#gq.info()
    pt=pd.read_csv(fnstr1,sep=',',header=None)
    pt.columns=['date','profile','qo','tweet_id','rank','score','text']
    
    pt.drop(pt[[2]],axis=1,inplace=True)
    pt1=pt.drop_duplicates(subset='tweet_id')
    pt1.reset_index(drop=True)
    mt=ijc.merge(pt1,how='inner',on=['tweet_id','profile','date'])
#mt.info()
#mt.head()
#mt=mt.sort_values(mt.columns[3],mt.columns[5],ascending=[True,True])
    mt=mt.sort_values(by=['date','rank'],ascending=True)
    mt.to_csv(p +'_qrelinrank.txt',index=False,sep=' ',header=None)
    pt11=pt1['tweet_id'].tolist()
    gq1=ijc['tweet_id'].tolist()
    
    ngq=list(set(gq1)-set(pt11))
    if len(ngq) > 0 :
        ngq_df = pd.DataFrame(ngq)
        ngq_df.columns=['tweet_id']
        qrelmissRank_df= pd.merge(ngq_df,ijc,how='inner',on=['tweet_id'])
        qrelmissRank_df=qrelmissRank_df.sort_values(by=['date'],ascending=[True])
#qrelmissRank_df= pd.merge(qrelmissRank_df,epoch,how='inner',on=['tweet_id'])
        #nqrelmissRank_df= pd.merge(ngq_df,ijc,how='inner',on=['tweet_id'])
        qrelmissRank_df.to_csv(p + '_qrelmissrank.txt',index=False,sep= ' ',header=None)
    #path_rn='C:/Users/lenovo/Google Drive/PHD share folder/paper/trec experiment/rishabh/11417'

    #os.chdir(path_rn)
    os.chdir(path1)
    #run_df=pd.read_csv("C:/Users/lenovo/Google Drive/PHD share folder/trec-rts-2017/runfile/jm6112017_0.1 27.0_20.0_+4+3final_doc_l_grid_ndcg1_again_list.txt",sep=' ',header=None)
#run_df.drop(run_df[[7]],axis=1,inplace=True)
    run_df=pd.read_csv("F:/TREC2017/Analysis/Result/dirichlet/grid/dirichlet_gold_0.1 6.0_3.0.txt",sep=' ',header=None)
    #run_df=pd.read_csv("F:/TREC2017/Analysis/Result/jm112/grid/jm_gold1122017_0.1 21.0_10.0.txt",sep=' ',header=None)

    run_df.drop(run_df[[6]],axis=1,inplace=True)

    run_df.columns=['date','profile','q0','tweet_id','rank','score']
    run_df.drop(run_df[[2]],axis=1,inplace=True)


    run_df=run_df[(run_df['profile'] == p)]
    #run_df.info()
    run_merge_df =pd.merge(mt,run_df,how='inner',on=['tweet_id','profile','date'])
    
    os.chdir(path1)
    os.chdir(p)
    run_merge_df=run_merge_df.sort_values(by=['date','rank_y'],ascending=[True,True])
    run_merge_df.to_csv(p+"_System_summary.txt",index=False,sep=' ')
    
    Qrel_notinsumm_df =  pd.DataFrame(list(set(mt['tweet_id'].tolist()) - set(run_df['tweet_id'].tolist())))
    if(Qrel_notinsumm_df.empty==False):
        Qrel_notinsumm_df.columns=["tweet_id"]
        Qrel_notinsumm_df = pd.merge(Qrel_notinsumm_df,mt,how='inner',on=['tweet_id'])
        Qrel_notinsumm_df.info()
#run_merge_df.info()
        Qrel_notinsumm_df=Qrel_notinsumm_df.sort_values(by=['date','rank'],ascending=[True,True])
        Qrel_notinsumm_df.to_csv(p +'System_notincluded.txt',index=False,sep=' ')
    
    #if not (wt_summ_df.empty):
    wt_summ_df =  pd.DataFrame(list(set(run_df['tweet_id'].tolist()) - set(mt['tweet_id'].tolist())))
    #wt_summ_df.info()
    if(wt_summ_df.empty==False):
        wt_summ_df.columns=["tweet_id"]
        wt_summ_df = pd.merge(wt_summ_df,pt1,how='inner',on='tweet_id')
    #wt_summ_df.head()
#wt_summ_df.info()
        wt_summ_df=wt_summ_df.sort_values(by=['date','rank'],ascending=[True,True])
        wt_summ_df.to_csv(p + "NonRelevantTweetinsummary.txt",index=False,sep= ' ')
    os.chdir(path1)
    if(run_merge_df.empty==False):
        a=run_merge_df['cluster'].nunique()
    else:
        a=0
    b=len(run_merge_df)

    cls = cluster[(cluster['profile'] == p)]
    if(cls.empty==False):
        c= cls['cluster'].nunique()
    else:
        c=0
    if(wt_summ_df.empty==False):
        nrt = len(wt_summ_df)
    else:
        nrt=0
    rt = b-a
    statstr = p + " " + str(c) + " " + str(a) + " " + str (rt) + " " + str(nrt)+"\n"
    #os.chdir(os.pardir)
    fstat = open('stats.txt',"a+")
    fstat.write(statstr)
    fstat.close()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 178 entries, 0 to 177
Data columns (total 9 columns):
tweet_id     178 non-null int64
profile      178 non-null object
relevance    178 non-null int64
date         178 non-null int64
time         178 non-null int64
cluster      178 non-null int64
rank         178 non-null int64
score        178 non-null float64
text         178 non-null object
dtypes: float64(1), int64(6), object(2)
memory usage: 13.9+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 21 entries, 0 to 20
Data columns (total 9 columns):
tweet_id     21 non-null int64
profile      21 non-null object
relevance    21 non-null int64
date         21 non-null int64
time         21 non-null int64
cluster      21 non-null int64
rank         21 non-null int64
score        21 non-null float64
text         21 non-null object
dtypes: float64(1), int64(6), object(2)
memory usage: 1.6+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 3 entries, 0 to 2
Data columns (total 9 columns):
tweet_id     3 non-null int64
profile      3 non-null object
relevance    3 non-null int64
date         3 non-null int64
time         3 non-null int64
cluster      3 non-null int64
rank         3 non-null int64
score        3 non-null float64
text         3 non-null object
dtypes: float64(1), int64(6), object(2)
memory usage: 240.0+ bytes
<class 'pandas.core.frame.DataFrame'>
Int64Index: 3 entries, 0 to 2
Data columns (total 9 columns):
tweet_id     3 non-null int64
profile      3 non-null object
relevance    3 non-null int64
date         3 non-null int64
time         3 non-null int64
cluster      3 non-null int64
rank         3 non-null int64
score        3 non-null float64
text         3 non-null object
dtypes: float64(1), int64(6), object(2)
memory usage: 240.0+ bytes
<class 'pandas.core.frame.DataFrame'>
Int64Index: 140 entries, 0 to 139
Data columns (total 9 columns):
tweet_id     140 non-null int64
profile      140 non-null object
relevance    140 non-null int64
date         140 non-null int64
time         140 non-null int64
cluster      140 non-null int64
rank         140 non-null int64
score        140 non-null float64
text         140 non-null object
dtypes: float64(1), int64(6), object(2)
memory usage: 10.9+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 0 to 0
Data columns (total 9 columns):
tweet_id     1 non-null int64
profile      1 non-null object
relevance    1 non-null int64
date         1 non-null int64
time         1 non-null int64
cluster      1 non-null int64
rank         1 non-null int64
score        1 non-null float64
text         1 non-null object
dtypes: float64(1), int64(6), object(2)
memory usage: 80.0+ bytes
<class 'pandas.core.frame.DataFrame'>
Int64Index: 17 entries, 0 to 16
Data columns (total 9 columns):
tweet_id     17 non-null int64
profile      17 non-null object
relevance    17 non-null int64
date         17 non-null int64
time         17 non-null int64
cluster      17 non-null int64
rank         17 non-null int64
score        17 non-null float64
text         17 non-null object
dtypes: float64(1), int64(6), object(2)
memory usage: 1.3+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 17 entries, 0 to 16
Data columns (total 9 columns):
tweet_id     17 non-null int64
profile      17 non-null object
relevance    17 non-null int64
date         17 non-null int64
time         17 non-null int64
cluster      17 non-null int64
rank         17 non-null int64
score        17 non-null float64
text         17 non-null object
dtypes: float64(1), int64(6), object(2)
memory usage: 1.3+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 100 entries, 0 to 99
Data columns (total 9 columns):
tweet_id     100 non-null int64
profile      100 non-null object
relevance    100 non-null int64
date         100 non-null int64
time         100 non-null int64
cluster      100 non-null int64
rank         100 non-null int64
score        100 non-null float64
text         100 non-null object
dtypes: float64(1), int64(6), object(2)
memory usage: 7.8+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 26 entries, 0 to 25
Data columns (total 9 columns):
tweet_id     26 non-null int64
profile      26 non-null object
relevance    26 non-null int64
date         26 non-null int64
time         26 non-null int64
cluster      26 non-null int64
rank         26 non-null int64
score        26 non-null float64
text         26 non-null object
dtypes: float64(1), int64(6), object(2)
memory usage: 2.0+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 24 entries, 0 to 23
Data columns (total 9 columns):
tweet_id     24 non-null int64
profile      24 non-null object
relevance    24 non-null int64
date         24 non-null int64
time         24 non-null int64
cluster      24 non-null int64
rank         24 non-null int64
score        24 non-null float64
text         24 non-null object
dtypes: float64(1), int64(6), object(2)
memory usage: 1.9+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 129 entries, 0 to 128
Data columns (total 9 columns):
tweet_id     129 non-null int64
profile      129 non-null object
relevance    129 non-null int64
date         129 non-null int64
time         129 non-null int64
cluster      129 non-null int64
rank         129 non-null int64
score        129 non-null float64
text         129 non-null object
dtypes: float64(1), int64(6), object(2)
memory usage: 10.1+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 54 entries, 0 to 53
Data columns (total 9 columns):
tweet_id     54 non-null int64
profile      54 non-null object
relevance    54 non-null int64
date         54 non-null int64
time         54 non-null int64
cluster      54 non-null int64
rank         54 non-null int64
score        54 non-null float64
text         54 non-null object
dtypes: float64(1), int64(6), object(2)
memory usage: 4.2+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 6 entries, 0 to 5
Data columns (total 9 columns):
tweet_id     6 non-null int64
profile      6 non-null object
relevance    6 non-null int64
date         6 non-null int64
time         6 non-null int64
cluster      6 non-null int64
rank         6 non-null int64
score        6 non-null float64
text         6 non-null object
dtypes: float64(1), int64(6), object(2)
memory usage: 480.0+ bytes
<class 'pandas.core.frame.DataFrame'>
Int64Index: 26 entries, 0 to 25
Data columns (total 9 columns):
tweet_id     26 non-null int64
profile      26 non-null object
relevance    26 non-null int64
date         26 non-null int64
time         26 non-null int64
cluster      26 non-null int64
rank         26 non-null int64
score        26 non-null float64
text         26 non-null object
dtypes: float64(1), int64(6), object(2)
memory usage: 2.0+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 51 entries, 0 to 50
Data columns (total 9 columns):
tweet_id     51 non-null int64
profile      51 non-null object
relevance    51 non-null int64
date         51 non-null int64
time         51 non-null int64
cluster      51 non-null int64
rank         51 non-null int64
score        51 non-null float64
text         51 non-null object
dtypes: float64(1), int64(6), object(2)
memory usage: 4.0+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 81 entries, 0 to 80
Data columns (total 9 columns):
tweet_id     81 non-null int64
profile      81 non-null object
relevance    81 non-null int64
date         81 non-null int64
time         81 non-null int64
cluster      81 non-null int64
rank         81 non-null int64
score        81 non-null float64
text         81 non-null object
dtypes: float64(1), int64(6), object(2)
memory usage: 6.3+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 27 entries, 0 to 26
Data columns (total 9 columns):
tweet_id     27 non-null int64
profile      27 non-null object
relevance    27 non-null int64
date         27 non-null int64
time         27 non-null int64
cluster      27 non-null int64
rank         27 non-null int64
score        27 non-null float64
text         27 non-null object
dtypes: float64(1), int64(6), object(2)
memory usage: 2.1+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 54 entries, 0 to 53
Data columns (total 9 columns):
tweet_id     54 non-null int64
profile      54 non-null object
relevance    54 non-null int64
date         54 non-null int64
time         54 non-null int64
cluster      54 non-null int64
rank         54 non-null int64
score        54 non-null float64
text         54 non-null object
dtypes: float64(1), int64(6), object(2)
memory usage: 4.2+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 0 to 0
Data columns (total 9 columns):
tweet_id     1 non-null int64
profile      1 non-null object
relevance    1 non-null int64
date         1 non-null int64
time         1 non-null int64
cluster      1 non-null int64
rank         1 non-null int64
score        1 non-null float64
text         1 non-null object
dtypes: float64(1), int64(6), object(2)
memory usage: 80.0+ bytes
<class 'pandas.core.frame.DataFrame'>
Int64Index: 4 entries, 0 to 3
Data columns (total 9 columns):
tweet_id     4 non-null int64
profile      4 non-null object
relevance    4 non-null int64
date         4 non-null int64
time         4 non-null int64
cluster      4 non-null int64
rank         4 non-null int64
score        4 non-null float64
text         4 non-null object
dtypes: float64(1), int64(6), object(2)
memory usage: 320.0+ bytes
<class 'pandas.core.frame.DataFrame'>
Int64Index: 3 entries, 0 to 2
Data columns (total 9 columns):
tweet_id     3 non-null int64
profile      3 non-null object
relevance    3 non-null int64
date         3 non-null int64
time         3 non-null int64
cluster      3 non-null int64
rank         3 non-null int64
score        3 non-null float64
text         3 non-null object
dtypes: float64(1), int64(6), object(2)
memory usage: 240.0+ bytes
<class 'pandas.core.frame.DataFrame'>
Int64Index: 72 entries, 0 to 71
Data columns (total 9 columns):
tweet_id     72 non-null int64
profile      72 non-null object
relevance    72 non-null int64
date         72 non-null int64
time         72 non-null int64
cluster      72 non-null int64
rank         72 non-null int64
score        72 non-null float64
text         72 non-null object
dtypes: float64(1), int64(6), object(2)
memory usage: 5.6+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 199 entries, 0 to 198
Data columns (total 9 columns):
tweet_id     199 non-null int64
profile      199 non-null object
relevance    199 non-null int64
date         199 non-null int64
time         199 non-null int64
cluster      199 non-null int64
rank         199 non-null int64
score        199 non-null float64
text         199 non-null object
dtypes: float64(1), int64(6), object(2)
memory usage: 15.5+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 62 entries, 0 to 61
Data columns (total 9 columns):
tweet_id     62 non-null int64
profile      62 non-null object
relevance    62 non-null int64
date         62 non-null int64
time         62 non-null int64
cluster      62 non-null int64
rank         62 non-null int64
score        62 non-null float64
text         62 non-null object
dtypes: float64(1), int64(6), object(2)
memory usage: 4.8+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 16 entries, 0 to 15
Data columns (total 9 columns):
tweet_id     16 non-null int64
profile      16 non-null object
relevance    16 non-null int64
date         16 non-null int64
time         16 non-null int64
cluster      16 non-null int64
rank         16 non-null int64
score        16 non-null float64
text         16 non-null object
dtypes: float64(1), int64(6), object(2)
memory usage: 1.2+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 3 entries, 0 to 2
Data columns (total 9 columns):
tweet_id     3 non-null int64
profile      3 non-null object
relevance    3 non-null int64
date         3 non-null int64
time         3 non-null int64
cluster      3 non-null int64
rank         3 non-null int64
score        3 non-null float64
text         3 non-null object
dtypes: float64(1), int64(6), object(2)
memory usage: 240.0+ bytes
<class 'pandas.core.frame.DataFrame'>
Int64Index: 75 entries, 0 to 74
Data columns (total 9 columns):
tweet_id     75 non-null int64
profile      75 non-null object
relevance    75 non-null int64
date         75 non-null int64
time         75 non-null int64
cluster      75 non-null int64
rank         75 non-null int64
score        75 non-null float64
text         75 non-null object
dtypes: float64(1), int64(6), object(2)
memory usage: 5.9+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 27 entries, 0 to 26
Data columns (total 9 columns):
tweet_id     27 non-null int64
profile      27 non-null object
relevance    27 non-null int64
date         27 non-null int64
time         27 non-null int64
cluster      27 non-null int64
rank         27 non-null int64
score        27 non-null float64
text         27 non-null object
dtypes: float64(1), int64(6), object(2)
memory usage: 2.1+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 5 entries, 0 to 4
Data columns (total 9 columns):
tweet_id     5 non-null int64
profile      5 non-null object
relevance    5 non-null int64
date         5 non-null int64
time         5 non-null int64
cluster      5 non-null int64
rank         5 non-null int64
score        5 non-null float64
text         5 non-null object
dtypes: float64(1), int64(6), object(2)
memory usage: 400.0+ bytes
<class 'pandas.core.frame.DataFrame'>
Int64Index: 111 entries, 0 to 110
Data columns (total 9 columns):
tweet_id     111 non-null int64
profile      111 non-null object
relevance    111 non-null int64
date         111 non-null int64
time         111 non-null int64
cluster      111 non-null int64
rank         111 non-null int64
score        111 non-null float64
text         111 non-null object
dtypes: float64(1), int64(6), object(2)
memory usage: 8.7+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 5 entries, 0 to 4
Data columns (total 9 columns):
tweet_id     5 non-null int64
profile      5 non-null object
relevance    5 non-null int64
date         5 non-null int64
time         5 non-null int64
cluster      5 non-null int64
rank         5 non-null int64
score        5 non-null float64
text         5 non-null object
dtypes: float64(1), int64(6), object(2)
memory usage: 400.0+ bytes
<class 'pandas.core.frame.DataFrame'>
Int64Index: 77 entries, 0 to 76
Data columns (total 9 columns):
tweet_id     77 non-null int64
profile      77 non-null object
relevance    77 non-null int64
date         77 non-null int64
time         77 non-null int64
cluster      77 non-null int64
rank         77 non-null int64
score        77 non-null float64
text         77 non-null object
dtypes: float64(1), int64(6), object(2)
memory usage: 6.0+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 12 entries, 0 to 11
Data columns (total 9 columns):
tweet_id     12 non-null int64
profile      12 non-null object
relevance    12 non-null int64
date         12 non-null int64
time         12 non-null int64
cluster      12 non-null int64
rank         12 non-null int64
score        12 non-null float64
text         12 non-null object
dtypes: float64(1), int64(6), object(2)
memory usage: 960.0+ bytes
<class 'pandas.core.frame.DataFrame'>
Int64Index: 19 entries, 0 to 18
Data columns (total 9 columns):
tweet_id     19 non-null int64
profile      19 non-null object
relevance    19 non-null int64
date         19 non-null int64
time         19 non-null int64
cluster      19 non-null int64
rank         19 non-null int64
score        19 non-null float64
text         19 non-null object
dtypes: float64(1), int64(6), object(2)
memory usage: 1.5+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 121 entries, 0 to 120
Data columns (total 9 columns):
tweet_id     121 non-null int64
profile      121 non-null object
relevance    121 non-null int64
date         121 non-null int64
time         121 non-null int64
cluster      121 non-null int64
rank         121 non-null int64
score        121 non-null float64
text         121 non-null object
dtypes: float64(1), int64(6), object(2)
memory usage: 9.5+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 7 entries, 0 to 6
Data columns (total 9 columns):
tweet_id     7 non-null int64
profile      7 non-null object
relevance    7 non-null int64
date         7 non-null int64
time         7 non-null int64
cluster      7 non-null int64
rank         7 non-null int64
score        7 non-null float64
text         7 non-null object
dtypes: float64(1), int64(6), object(2)
memory usage: 560.0+ bytes
<class 'pandas.core.frame.DataFrame'>
Int64Index: 8 entries, 0 to 7
Data columns (total 9 columns):
tweet_id     8 non-null int64
profile      8 non-null object
relevance    8 non-null int64
date         8 non-null int64
time         8 non-null int64
cluster      8 non-null int64
rank         8 non-null int64
score        8 non-null float64
text         8 non-null object
dtypes: float64(1), int64(6), object(2)
memory usage: 640.0+ bytes
<class 'pandas.core.frame.DataFrame'>
Int64Index: 34 entries, 0 to 33
Data columns (total 9 columns):
tweet_id     34 non-null int64
profile      34 non-null object
relevance    34 non-null int64
date         34 non-null int64
time         34 non-null int64
cluster      34 non-null int64
rank         34 non-null int64
score        34 non-null float64
text         34 non-null object
dtypes: float64(1), int64(6), object(2)
memory usage: 2.7+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 13 entries, 0 to 12
Data columns (total 9 columns):
tweet_id     13 non-null int64
profile      13 non-null object
relevance    13 non-null int64
date         13 non-null int64
time         13 non-null int64
cluster      13 non-null int64
rank         13 non-null int64
score        13 non-null float64
text         13 non-null object
dtypes: float64(1), int64(6), object(2)
memory usage: 1.0+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2 entries, 0 to 1
Data columns (total 9 columns):
tweet_id     2 non-null int64
profile      2 non-null object
relevance    2 non-null int64
date         2 non-null int64
time         2 non-null int64
cluster      2 non-null int64
rank         2 non-null int64
score        2 non-null float64
text         2 non-null object
dtypes: float64(1), int64(6), object(2)
memory usage: 160.0+ bytes
<class 'pandas.core.frame.DataFrame'>
Int64Index: 6 entries, 0 to 5
Data columns (total 9 columns):
tweet_id     6 non-null int64
profile      6 non-null object
relevance    6 non-null int64
date         6 non-null int64
time         6 non-null int64
cluster      6 non-null int64
rank         6 non-null int64
score        6 non-null float64
text         6 non-null object
dtypes: float64(1), int64(6), object(2)
memory usage: 480.0+ bytes
<class 'pandas.core.frame.DataFrame'>
Int64Index: 48 entries, 0 to 47
Data columns (total 9 columns):
tweet_id     48 non-null int64
profile      48 non-null object
relevance    48 non-null int64
date         48 non-null int64
time         48 non-null int64
cluster      48 non-null int64
rank         48 non-null int64
score        48 non-null float64
text         48 non-null object
dtypes: float64(1), int64(6), object(2)
memory usage: 3.8+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 42 entries, 0 to 41
Data columns (total 9 columns):
tweet_id     42 non-null int64
profile      42 non-null object
relevance    42 non-null int64
date         42 non-null int64
time         42 non-null int64
cluster      42 non-null int64
rank         42 non-null int64
score        42 non-null float64
text         42 non-null object
dtypes: float64(1), int64(6), object(2)
memory usage: 3.3+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 15 entries, 0 to 14
Data columns (total 9 columns):
tweet_id     15 non-null int64
profile      15 non-null object
relevance    15 non-null int64
date         15 non-null int64
time         15 non-null int64
cluster      15 non-null int64
rank         15 non-null int64

In [21]:

b

18

In [31]:
tidall=[]
tidw=[]
day=[20170729,20170730,20170731,20170801,20170802,20170803,20170804,20170805]
d=day[7]
#ip=['RTS47','RTS48','RTS49']
for p in ip:
    os.chdir(path1)
    #os.chdir(p)
    if os.path.exists(path1+'/'+p+'/'+ p+'_qrelmissrank.txt'):
        df=pd.read_csv(p+'/'+ p+'_qrelmissrank.txt',header=None,sep=' ')
        df.columns=['tweet_id','profile','relevaance','date']
        df=df[df['date']==d]
        dtid=list(df['tweet_id'])
        tidall.append(dtid)  
for i in tidall:
    
    for j in i:
        tidw.append(j)

os.chdir(path1)

sday=str(d)
sday=sday[6:8]
with open(sday+"missingtid.txt", "w") as output:
    for t in tidw:
        #print t
        output.write(str(t)+ '\n')
output.close()

In [22]:
len(tidall[1])

0

In [14]:
tidall=[]
tidw=[]
day=[20170729,20170730,20170731,20170801,20170802,20170803,20170804,20170805]
d=day[0]
#ip=['RTS47','RTS48','RTS49']
for p in ip:
    os.chdir(path1)
    #os.chdir(p)
    if os.path.exists(path1+'/'+p+'/'+ p+'_qrelinrank.txt'):

    df=pd.read_csv(p+'/'+ p+'_qrelinrank.txt',header=None,sep=' ')
    df.columns=['tweet_id','profile','relevaance','date','rank','scoe','text']
    #df=df[df['date']==d]
    dtid=list(df['tweet_id'])
    tidall.append(dtid)

ValueError: No columns to parse from file

In [11]:
len(tidall)

39

In [114]:

sday

'30'

In [17]:
len(ip)

95

In [105]:
len(tidw)

6084

In [106]:
os.chdir(path1)


with open("missingtid.txt", "a") as output:
    for t in tidw:
        #print t
        output.write(str(t)+ '\n')
output.close()